In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [2]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\코로나_매출')
df_1 = pd.read_csv('5~6월_매출_확진자_합평균.csv')
df_1.columns = ['index', '장기점', '성서점', '상인점', '3지점 합계', '달서확진자', '3지점 평균']
df_1.index = df_1['index']
del df_1['index']
df_1

                장기점      성서점      상인점   3지점 합계  달서확진자      3지점 평균
index
2021-05-01  1122000  3826000  2224000  7172000      0  2390666.67
2021-05-02  1130000  3642500  1874500  6647000      0  2215666.67
2021-05-03  1508000  1423500  1235000  4166500      1  1388833.33
2021-05-04  1304000  3416000  1901500  6621500      1  2207166.67
2021-05-05   928500  2795000  2019000  5742500      2  1914166.67
...             ...      ...      ...      ...    ...         ...
2021-06-26  1240500  3967000  2045500  7253000      8  2417666.67
2021-06-27  1299500  3109500  1656000  6065000      2  2021666.67
2021-06-28   948000  2203000  1809500  4960500      2  1653500.00
2021-06-29   976500  2380000  1233000  4589500      4  1529833.33
2021-06-30  1301500  2830500  1539500  5671500      6  1890500.00

[61 rows x 6 columns]

In [8]:
x = df_1['달서확진자']

array([ 0,  1,  2,  3,  6,  5,  4,  7,  8,  9, 23, 17, 13, 12, 14, 10, 11,
       15], dtype=int64)