In [1]:
import os
import pandas as pd

In [4]:
os.chdir(r'C:\Users\alswo\Downloads')
df_1 = pd.read_csv('서울시민_카드소비_업종코드.csv')
# df_1.to_csv('서울시민_카드소비_업종코드_encoding.csv', encoding = 'cp949')
df_1

   UPJONG_CD(업종코드) CLASS1(대분류)  CLASS2(중분류) CLASS3(소분류)
0            ss001       요식/유흥           한식          한식
1            ss002       요식/유흥     일식/중식/양식          일식
2            ss003       요식/유흥     일식/중식/양식          양식
3            ss004       요식/유흥     일식/중식/양식          중식
4            ss005       요식/유흥  제과/커피/패스트푸드         제과점
..             ...         ...          ...         ...
69           ss083   스포츠/문화/레저    스포츠/문화/레저        실외골프
70           ss084   스포츠/문화/레저    스포츠/문화/레저          스키
71           ss090       교육/학원           학원      입시보습학원
72           ss091       교육/학원           학원       외국어학원
73           ss092       교육/학원           학원       예체능학원

[74 rows x 4 columns]

In [8]:
df_2 = pd.read_csv('블록_시간대별소액결제건수.csv')
df_2.to_csv('블록_시간대별소액결제건수_encoding.csv', encoding = 'cp949')
df_2

,UPJONG_CLASS3(서울시민업종코드),YM(기준년월),TIME(시간대구간),BLOCK_CD(고객주소블록코드),AMT_CORR(카드이용금액계),MICRO_PYM(소액결제건수)
0,SS003,202005,5,10000,71,9999
1,SS036,202005,4,10000,5,9999
2,SS008,202005,6,10000,66,9999
3,SS013,202005,4,10000,238,9999
4,SS018,202005,4,10000,15,9999
...,...,...,...,...,...,...
200,SS030,202005,2,10000,5,9999
201,SS092,202005,4,10000,5,9999
202,SS046,202005,3,10000,15,9999
203,SS083,202005,3,10000,5,9999
204,SS063,202005,2,10000,5,9999

In [9]:
df_3 = pd.read_csv('블록_성별연령대별.csv')
df_3.to_csv('블록_성별연령대별_encoding.csv', encoding = 'cp949')
df_3

,UPJONG_CLASS3(서울시민업종코드),YM(기준년월),BLOCK_CD(고객주소블록코드),GEDNER(성별),AGE(연령대별),AMT_CORR(카드이용금액계),USECT_CORR(카드이용건수계)
0,SS068,202005,10000,F,20대,9999,9999
1,SS013,202005,10000,M,70대이상,9999,9999
2,SS055,202005,10000,M,40대,9999,9999
3,SS040,202005,10000,M,60대,9999,9999
4,SS036,202005,10000,M,30대,9999,9999
...,...,...,...,...,...,...,...
311,SS031,202005,10000,F,20대,9999,9999
312,SS002,202005,10000,F,20대,9999,9999
313,SS017,202005,10000,M,40대,9999,9999
314,SS024,202005,10000,F,30대,9999,9999
315,SS058,202005,10000,M,30대,9999,9999

In [10]:
df_4 = pd.read_csv('집계구_일별소비지역별.csv')
df_4.to_csv('집계구_일별소비지역별_encoding.csv', encoding = 'cp949')
df_4

,SIDO(가맹점주소광역시도),SGG(가맹점주소시군구),UPJONG_CLASS1(업종대분류),YMD(기준일자),TOT_REG_CD(고객주소집계구별),AMT_CORR(카드이용금액계),USECT_CORR(카드이용건수계)
0,서울,동대문구,유통,20200516,1108066050202,9999,9999
1,서울,중구,요식/유흥,20200516,1108066050202,9999,9999
2,서울,성북구,음/식료품,20200516,1108066050202,9999,9999
3,서울,성북구,의류/잡화,20200516,1108066050202,9999,9999
4,서울,강북구,유통,20200516,1108066050202,9999,9999
5,대전,NaN,가전/가구,20200516,1108066050202,9999,9999
6,경기,하남시,유통,20200516,1108066050202,9999,9999
7,서울,관악구,유통,20200516,1108066050202,9999,9999
8,서울,성북구,요식/유흥,20200516,1108066050202,9999,9999
9,서울,종로구,유통,20200516,1108066050202,9999,9999
10,서울,관악구,음/식료품,20200516,1108066050202,9999,9999
11,서울,도봉구,유통,20200516,1108066050202,9999,9999
12,서울,성북구,유통,20200516,1108066050202,9999,9999
13,서울,성북구,의료,20200516,1108066050202,9999,9999
14,서울,관악구,요식/유흥,20200516,1108066050202,9999,9999
15,서울,성북구,전자상거래,20200516,1108066050202,9999,9999
16,강원,NaN,요식/유흥,20200516,1108066050202,9999,9999
17,경기,안양시,유통,20200516,1108066050202,9999,9999
18,서울,성동구,가정생활/서비스,20200516,1108066050202,9999,9999
19,서울,노원구,요식/유흥,20200516,1108066050202,9999,9999
20,서울,성북구,미용,20200516,1108066050202,9999,9999
21,경기,가평군,요식/유흥,20200516,1108066050202,9999,9999
22,서울,동대문구,요식/유흥,20200516,1108066050202,9999,9999
23,서울,강북구,요식/유흥,20200516,1108066050202,9999,9999
24,경기,안양시,주유,20200516,1108066050202,9999,9999
25,충북,NaN,요식/유흥,20200516,1108066050202,9999,9999
26,서울,마포구,유통,20200516,1108066050202,9999,9999
27,서울,성북구,주유,20200516,1108066050202,9999,9999
28,경기,파주시,요식/유흥,20200516,1108066050202,9999,9999
29,서울,중구,전자상거래,20200516,1108066050202,9999,9999
30,서울,중구,유통,20200516,1108066050202,9999,9999
31,서울,성북구,스포츠/문화/레저,20200516,1108066050202,9999,9999
32,서울,노원구,유통,20200516,1108066050202,9999,9999
33,서울,강남구,스포츠/문화/레저,20200516,1108066050202,9999,9999
34,서울,관악구,의료,20200516,1108066050202,9999,9999
35,서울,은평구,유통,20200516,1108066050202,9999,9999
36,서울,광진구,요식/유흥,20200516,1108066050202,9999,9999
37,서울,서초구,여행/교통,20200516,1108066050202,9999,9999
38,서울,강북구,주유,20200516,1108066050202,9999,9999
39,서울,성북구,가정생활/서비스,20200516,1108066050202,9999,9999
40,경기,성남시,전자상거래,20200516,1108066050202,9999,9999
41,서울,강남구,유통,20200516,1108066050202,9999,9999
42,서울,서초구,요식/유흥,20200516,1108066050202,9999,9999
43,강원,NaN,의료,20200516,1108066050202,9999,9999
44,서울,마포구,요식/유흥,20200516,1108066050202,9999,9999
45,서울,서초구,유통,20200516,1108066050202,9999,9999
46,서울,강남구,전자상거래,20200516,1108066050202,9999,9999
47,경기,파주시,유통,20200516,1108066050202,9999,9999
48,서울,광진구,의료,20200516,1108066050202,9999,9999
49,서울,강남구,요식/유흥,20200516,1108066050202,9999,9999
50,서울,강북구,스포츠/문화/레저,20200516,1108066050202,9999,9999
51,서울,송파구,요식/유흥,20200516,1108066050202,9999,9999
52,서울,서대문구,요식/유흥,20200516,1108066050202,9999,9999
53,전남,NaN,요식/유흥,20200516,1108066050202,9999,9999
54,경기,하남시,요식/유흥,20200516,1108066050202,9999,9999
55,서울,송파구,전자상거래,20200516,1108066050202,9999,9999
56,경기,용인시,요식/유흥,20200516,1108066050202,9999,9999
57,서울,서초구,스포츠/문화/레저,20200516,1108066050202,9999,9999

In [11]:
df_5 = pd.read_csv('집계구_일별시간대별.csv')
df_5.to_csv('집계구_일별시간대별_encoding.csv', encoding = 'cp949')
df_5

,UPJONG_CLASS1(업종대분류),YMD(기준일자),TIME(시간대구간),TOT_REG_CD(고객주소집계구별),AMT_CORR(카드이용금액계),USECT_CORR(카드이용건수계)
0,전자상거래,20200506,5,1114059030102,9999,9999
1,유통,20200506,4,1114059030102,9999,9999
2,전자상거래,20200506,6,1114059030102,9999,9999
3,요식/유흥,20200506,2,1114059030102,9999,9999
4,유통,20200506,5,1114059030102,9999,9999
5,의류/잡화,20200506,4,1114059030102,9999,9999
6,자동차,20200506,3,1114059030102,9999,9999
7,자동차,20200506,4,1114059030102,9999,9999
8,요식/유흥,20200506,3,1114059030102,9999,9999
9,전자상거래,20200506,1,1114059030102,9999,9999
10,스포츠/문화/레저,20200506,5,1114059030102,9999,9999
11,의료,20200506,3,1114059030102,9999,9999
12,음/식료품,20200506,2,1114059030102,9999,9999
13,유통,20200506,2,1114059030102,9999,9999
14,전자상거래,20200506,2,1114059030102,9999,9999
15,요식/유흥,20200506,4,1114059030102,9999,9999
16,교육/학원,20200506,5,1114059030102,9999,9999
17,음/식료품,20200506,3,1114059030102,9999,9999
18,가정생활/서비스,20200506,6,1114059030102,9999,9999
19,가정생활/서비스,20200506,5,1114059030102,9999,9999
20,의료,20200506,5,1114059030102,9999,9999
21,가정생활/서비스,20200506,3,1114059030102,9999,9999
22,유통,20200506,3,1114059030102,9999,9999
23,음/식료품,20200506,5,1114059030102,9999,9999
24,스포츠/문화/레저,20200506,3,1114059030102,9999,9999
25,가정생활/서비스,20200506,2,1114059030102,9999,9999
26,요식/유흥,20200506,5,1114059030102,9999,9999
27,유통,20200506,6,1114059030102,9999,9999
28,교육/학원,20200506,2,1114059030102,9999,9999
29,의료,20200506,2,1114059030102,9999,9999
30,전자상거래,20200506,3,1114059030102,9999,9999
31,음/식료품,20200506,4,1114059030102,9999,9999
32,여행/교통,20200506,2,1114059030102,9999,9999
33,전자상거래,20200506,4,1114059030102,9999,9999
34,요식/유흥,20200506,6,1114059030102,9999,9999
35,의류/잡화,20200506,5,1114059030102,9999,9999
36,의료,20200506,4,1114059030102,9999,9999
37,가정생활/서비스,20200506,1,1114059030102,9999,9999
38,스포츠/문화/레저,20200506,6,1114059030102,9999,9999