In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [3]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\코로나_매출')
df_1 = pd.read_csv('5~6월_매출_확진자_합평균.csv')
df_1.columns = ['index', '장기점', '성서점', '상인점', '3지점 합계', '달서확진자', '3지점 평균']
df_1.index = df_1['index']
del df_1['index']
df_1

                장기점      성서점      상인점   3지점 합계  달서확진자      3지점 평균
index
2021-05-01  1122000  3826000  2224000  7172000      0  2390666.67
2021-05-02  1130000  3642500  1874500  6647000      0  2215666.67
2021-05-03  1508000  1423500  1235000  4166500      1  1388833.33
2021-05-04  1304000  3416000  1901500  6621500      1  2207166.67
2021-05-05   928500  2795000  2019000  5742500      2  1914166.67
...             ...      ...      ...      ...    ...         ...
2021-06-26  1240500  3967000  2045500  7253000      8  2417666.67
2021-06-27  1299500  3109500  1656000  6065000      2  2021666.67
2021-06-28   948000  2203000  1809500  4960500      2  1653500.00
2021-06-29   976500  2380000  1233000  4589500      4  1529833.33
2021-06-30  1301500  2830500  1539500  5671500      6  1890500.00

[61 rows x 6 columns]

In [21]:
x = df_1['달서확진자'][:-4]
y = df_1['3지점 평균'][1:-3]

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [13]:
LR = LinearRegression()
LR.fit(x_train.values.reshape(-1, 1), y_train)

LinearRegression()

In [14]:
y_prediction =  LR.predict(x_test.values.reshape(-1, 1))
y_prediction

array([1714133.38745453, 1697645.9416937 , 1631696.15865035,
       1549258.92984617, 1598721.26712868, 1681158.49593286,
       1466821.70104198, 1697645.9416937 , 1648183.60441119,
       1565746.375607  , 1532771.48408533, 1648183.60441119,
       1631696.15865035])

In [19]:
score = r2_score(y_test, y_prediction)
print('r2 socre is',score)
print('mean_sqrd_error is ==',mean_squared_error(y_test, y_prediction))
print('root_mean_squared error of is ==',np.sqrt(mean_squared_error(y_test, y_prediction)))
print('RMSE / 매출 평균 == {}' .format(np.sqrt(mean_squared_error(y_test, y_prediction)) / (sum(y)/len(y))))

r2 socre is 0.0019720696044259745
mean_sqrd_error is == 171290990042.55225
root_mean_squared error of is == 413873.1569485417
RMSE / 매출 평균 == 0.2605859586012102

In [45]:
Lag = 7
for a in range(1, Lag) :
    x = df_1['달서확진자'][: -Lag]
    y = df_1['3지점 평균'][a : -Lag + a]
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
    
    LR = LinearRegression()
    LR.fit(x_train.values.reshape(-1, 1), y_train)
    
    y_prediction = LR.predict(x_test.values.reshape(-1, 1))
    score = r2_score(y_test, y_prediction)
    print('Lag {}' .format(a))
    print('r2 socre is',score)
    print('mean_sqrd_error is ==',mean_squared_error(y_test, y_prediction))
    print('root_mean_squared error of is ==',np.sqrt(mean_squared_error(y_test, y_prediction)))
    print('RMSE / 매출 평균 == {}' .format(np.sqrt(mean_squared_error(y_test, y_prediction)) / (sum(y)/len(y))))

Lag 1
r2 socre is -0.24631653544141496
mean_sqrd_error is == 121513305633.05264
root_mean_squared error of is == 348587.58674550167
RMSE / 매출 평균 == 0.22636283444499677
Lag 2
r2 socre is -0.02280013504418643
mean_sqrd_error is == 198695822672.9585
root_mean_squared error of is == 445753.09608903277
RMSE / 매출 평균 == 0.290837919227614
Lag 3
r2 socre is 0.16757824679051259
mean_sqrd_error is == 109987018747.58885
root_mean_squared error of is == 331642.90848379204
RMSE / 매출 평균 == 0.21372824436357793
Lag 4
r2 socre is 0.16380541768178336
mean_sqrd_error is == 134286836282.36432
root_mean_squared error of is == 366451.6834213814
RMSE / 매출 평균 == 0.23668483787329994
Lag 5
r2 socre is 0.15173955412262385
mean_sqrd_error is == 138452930814.56262
root_mean_squared error of is == 372092.63740977546
RMSE / 매출 평균 == 0.24107986698434125
Lag 6
r2 socre is 0.13511913205675286
mean_sqrd_error is == 75217721565.77338
root_mean_squared error of is == 274258.4940631254
RMSE / 매출 평균 == 0.17720207404707122