In [5]:
import os
import pandas as pd
from scipy.stats import levene

### Levene's Test

In [4]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\1학기\통계분석방법론\과제\새 폴더')
df_1 = pd.read_csv('PlantGrowth.csv', index_col = 0)
df_1

    weight group
1     4.17  ctrl
2     5.58  ctrl
3     5.18  ctrl
4     6.11  ctrl
5     4.50  ctrl
6     4.61  ctrl
7     5.17  ctrl
8     4.53  ctrl
9     5.33  ctrl
10    5.14  ctrl
11    4.81  trt1
12    4.17  trt1
13    4.41  trt1
14    3.59  trt1
15    5.87  trt1
16    3.83  trt1
17    6.03  trt1
18    4.89  trt1
19    4.32  trt1
20    4.69  trt1
21    6.31  trt2
22    5.12  trt2
23    5.54  trt2
24    5.50  trt2
25    5.37  trt2
26    5.29  trt2
27    4.92  trt2
28    6.15  trt2
29    5.80  trt2
30    5.26  trt2

In [15]:
from scipy.stats import levene

# Create three arrays for each sample:
ctrl = df_1.query('group == "ctrl"')['weight']
trt1 = df_1.query('group == "trt1"')['weight']
trt2 = df_1.query('group == "trt2"')['weight']

# Levene's Test in Python with Scipy:
stat, p = levene(ctrl, trt1, trt2)

print(stat, p)

1.1191856948703909 0.3412266241254737

In [19]:
import pingouin as pg

pg.homoscedasticity(df_1, dv = 'weight', group = 'group')

               W      pval  equal_var
levene  1.119186  0.341227       True

### Bartlett's Test

In [21]:
from scipy.stats import bartlett

# subsetting the data:
ctrl = df_1.query('group == "ctrl"')['weight']
trt1 = df_1.query('group == "trt1"')['weight']
trt2 = df_1.query('group == "trt2"')['weight']

# Bartlett's test in Python with SciPy:
stat, p = bartlett(ctrl, trt1, trt2)

# Get the results:
print(stat, p)

2.8785737872360935 0.23709677363455822

In [23]:
import pingouin as pg

# Bartlett's test in Python with pingouin:
pg.homoscedasticity(df_1, dv='weight', 
                    group='group',
                   method='bartlett')

                 T      pval  equal_var
bartlett  2.878574  0.237097       True