In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
import os

In [2]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터')
weather = pd.read_csv('기상자료개방포털_종관기상관측(ASOS)_16-01-01_21-05-21.csv')
weather

                        날짜    기온  강수량   풍속  습도  전운량  증하층운량  지면온도
0      2016-01-01 00:00:00  -1.0  0.0  0.1  80    0      0  -4.4
1      2016-01-01 01:00:00  -1.6  0.0  0.6  80    0      0  -4.8
2      2016-01-01 02:00:00  -1.9  0.0  0.3  84    0      0  -5.4
3      2016-01-01 03:00:00  -2.5  0.0  0.1  86    0      0  -5.6
4      2016-01-01 04:00:00  -3.0  0.0  0.5  90    0      0  -5.9
...                    ...   ...  ...  ...  ..  ...    ...   ...
47227  2021-05-21 19:00:00  17.9  0.0  2.5  63   10      9  16.9
47228  2021-05-21 20:00:00  17.5  0.0  3.0  64    7      7  16.6
47229  2021-05-21 21:00:00  17.2  0.0  1.8  66    9      9  16.4
47230  2021-05-21 22:00:00  16.9  0.0  2.3  69    2      2  16.1
47231  2021-05-21 23:00:00  16.7  0.0  1.9  73    6      6  16.1

[47232 rows x 8 columns]

In [12]:
weather['기온-38'] = weather['기온'].shift(38)
weather['강수량-19'] = weather['강수량'].shift(19)
weather['풍속-54'] = weather['풍속'].shift(54)
weather['습도-41'] = weather['습도'].shift(41)
weather.index = weather['날짜']
del weather['날짜']
weather

,기온,강수량,풍속,습도,전운량,증하층운량,지면온도,기온-38,강수량-19,풍속-54,습도-41
날짜,,,,,,,,,,,
2016-01-01 00:00:00,-1.0,0.0,0.1,80,0,0,-4.4,NaN,NaN,NaN,NaN
2016-01-01 01:00:00,-1.6,0.0,0.6,80,0,0,-4.8,NaN,NaN,NaN,NaN
2016-01-01 02:00:00,-1.9,0.0,0.3,84,0,0,-5.4,NaN,NaN,NaN,NaN
2016-01-01 03:00:00,-2.5,0.0,0.1,86,0,0,-5.6,NaN,NaN,NaN,NaN
2016-01-01 04:00:00,-3.0,0.0,0.5,90,0,0,-5.9,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-05-21 19:00:00,17.9,0.0,2.5,63,10,9,16.9,16.7,0.2,2.4,79.0
2021-05-21 20:00:00,17.5,0.0,3.0,64,7,7,16.6,16.6,0.0,1.6,81.0
2021-05-21 21:00:00,17.2,0.0,1.8,66,9,9,16.4,17.0,0.0,2.5,84.0
2021-05-21 22:00:00,16.9,0.0,2.3,69,2,2,16.1,17.7,0.0,1.2,86.0
2021-05-21 23:00:00,16.7,0.0,1.9,73,6,6,16.1,18.1,0.0,0.7,83.0

In [14]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축')
df = pd.read_excel('상인점_이상치_제거완료_VAR전처리_210430_정민재.xlsx')
df.index = df['날짜']
del df['날짜']
df

                     기온(°C)  강수량(mm)  풍속(m/s)  습도(%)     매출액
날짜
2017-11-27 00:00:00     2.6      0.0      1.2     88       0
2017-11-27 01:00:00     1.8      0.0      0.4     92       0
2017-11-27 02:00:00     1.2      0.0      0.4     93       0
2017-11-27 03:00:00     0.9      0.0      1.3     95       0
2017-11-27 04:00:00     0.7      0.0      0.3     95       0
...                     ...      ...      ...    ...     ...
2020-08-18 20:00:00    30.5      0.0      1.0     63  209000
2020-08-18 21:00:00    30.4      0.0      1.4     60   86000
2020-08-18 22:00:00    29.0      0.0      0.6     68   40500
2020-08-18 23:00:00    27.7      0.0      0.9     74   90500
2020-08-19 00:00:00    27.1      0.0      1.3     78   85000

[23905 rows x 5 columns]

In [15]:
df['기온(°C)'] = weather['기온-38']
df['강수량(mm)'] = weather['강수량-19']
df['풍속(m/s)'] = weather['풍속-54']
df['습도(%)'] = weather['습도-41']
df

                     기온(°C)  강수량(mm)  풍속(m/s)  습도(%)     매출액
날짜
2017-11-27 00:00:00     NaN      NaN      NaN    NaN       0
2017-11-27 01:00:00     NaN      NaN      NaN    NaN       0
2017-11-27 02:00:00     NaN      NaN      NaN    NaN       0
2017-11-27 03:00:00     NaN      NaN      NaN    NaN       0
2017-11-27 04:00:00     NaN      NaN      NaN    NaN       0
...                     ...      ...      ...    ...     ...
2020-08-18 20:00:00     NaN      NaN      NaN    NaN  209000
2020-08-18 21:00:00     NaN      NaN      NaN    NaN   86000
2020-08-18 22:00:00     NaN      NaN      NaN    NaN   40500
2020-08-18 23:00:00     NaN      NaN      NaN    NaN   90500
2020-08-19 00:00:00     NaN      NaN      NaN    NaN   85000

[23905 rows x 5 columns]