In [31]:
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

In [53]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_var = pd.read_csv('매출금액_시장금리_kospi_휴일채움.csv', encoding = 'cp949')
df_var.index = df_var['매출일자']
del df_var['매출일자']
df_var = df_var[:-119]
df_var

                 매출금액  시장금리    kospi
매출일자
2018-01-01  3,314,000  1.99  2479.65
2018-01-02  2,020,500  1.99  2479.65
2018-01-03  2,019,500  1.96  2486.35
2018-01-04  2,178,000  1.95  2466.46
2018-01-05  2,401,500  1.95  2497.52
...               ...   ...      ...
2020-12-27  1,022,500  0.91  2806.86
2020-12-28    796,000  0.92  2808.60
2020-12-29    908,500  0.93  2820.51
2020-12-30    872,000  0.94  2873.47
2020-12-31  1,237,500  0.94  2873.47

[1063 rows x 3 columns]

In [54]:
df_var['매출금액'] = [int(v.replace(',', '')) for v in df_var['매출금액']]
df_var

               매출금액  시장금리    kospi
매출일자
2018-01-01  3314000  1.99  2479.65
2018-01-02  2020500  1.99  2479.65
2018-01-03  2019500  1.96  2486.35
2018-01-04  2178000  1.95  2466.46
2018-01-05  2401500  1.95  2497.52
...             ...   ...      ...
2020-12-27  1022500  0.91  2806.86
2020-12-28   796000  0.92  2808.60
2020-12-29   908500  0.93  2820.51
2020-12-30   872000  0.94  2873.47
2020-12-31  1237500  0.94  2873.47

[1063 rows x 3 columns]

In [55]:
df_var_log_diff = np.log(df_var).diff().dropna()
df_var_log_diff

                매출금액      시장금리     kospi
매출일자
2018-01-02 -0.494811  0.000000  0.000000
2018-01-03 -0.000495 -0.015190  0.002698
2018-01-04  0.075557 -0.005115 -0.008032
2018-01-05  0.097687  0.000000  0.012514
2018-01-06  0.161884  0.000000  0.000000
...              ...       ...       ...
2020-12-27  0.032806  0.000000  0.000000
2020-12-28 -0.250407  0.010929  0.000620
2020-12-29  0.132196  0.010811  0.004232
2020-12-30 -0.041005  0.010695  0.018603
2020-12-31  0.350059  0.000000  0.000000

[1051 rows x 3 columns]

In [58]:
var = df_var_log_diff[['매출금액', '시장금리']]
var

                매출금액      시장금리
매출일자
2018-01-02 -0.494811  0.000000
2018-01-03 -0.000495 -0.015190
2018-01-04  0.075557 -0.005115
2018-01-05  0.097687  0.000000
2018-01-06  0.161884  0.000000
...              ...       ...
2020-12-27  0.032806  0.000000
2020-12-28 -0.250407  0.010929
2020-12-29  0.132196  0.010811
2020-12-30 -0.041005  0.010695
2020-12-31  0.350059  0.000000

[1051 rows x 2 columns]

In [62]:
model = VAR(var)
results_all = model.fit(maxlags = 100, ic = 'aic')
results_all.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:583: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Mon, 09, Aug, 2021
Time:                     15:53:52
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -11.4299
Nobs:                     1038.00    HQIC:                  -11.5895
Log likelihood:           3173.91    FPE:                8.40136e-06
AIC:                     -11.6871    Det(Omega_mle):     7.98077e-06
--------------------------------------------------------------------
Results for equation 매출금액
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const            0.016060         0.010771            1.491           0.136
L1.매출금액         -0.762345         0.031205          -24.431           0.000
L1.시장금리         -2.018059         1.263277           -1.597           0.110
L2.매출금액         -0.650264         0.039013          -16.668           0.000
L2.시장금리          1.237392         1.298511            0.953           0.341
L3.매출금액         -0.562669         0.043761          -12.858           0.000
L3.시장금리         -0.379558         1.299446           -0.292           0.770
L4.매출금액         -0.500832         0.047021          -10.651           0.000
L4.시장금리         -0.035897         1.299828           -0.028           0.978
L5.매출금액         -0.396045         0.049574           -7.989           0.000
L5.시장금리         -0.462555         1.304729           -0.355           0.723
L6.매출금액         -0.229599         0.051105           -4.493           0.000
L6.시장금리          0.486436         1.305884            0.372           0.710
L7.매출금액         -0.025174         0.051652           -0.487           0.626
L7.시장금리          0.535543         1.305872            0.410           0.682
L8.매출금액          0.034128         0.051275            0.666           0.506
L8.시장금리          1.497086         1.304237            1.148           0.251
L9.매출금액         -0.053095         0.049843           -1.065           0.287
L9.시장금리         -0.283929         1.303677           -0.218           0.828
L10.매출금액        -0.148214         0.047349           -3.130           0.002
L10.시장금리         0.755514         1.297695            0.582           0.560
L11.매출금액        -0.195800         0.044167           -4.433           0.000
L11.시장금리         0.302898         1.297297            0.233           0.815
L12.매출금액        -0.234588         0.039352           -5.961           0.000
L12.시장금리        -0.358520         1.295028           -0.277           0.782
L13.매출금액        -0.161803         0.031358           -5.160           0.000
L13.시장금리        -0.510513         1.261148           -0.405           0.686
===========================================================================

Results for equation 시장금리
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const           -0.000425         0.000269           -1.577           0.115
L1.매출금액          0.002170         0.000780            2.781           0.005
L1.시장금리          0.225332         0.031597            7.131           0.000
L2.매출금액          0.001079         0.000976            1.105           0.269
L2.시장금리          0.037015         0.032478            1.140           0.254
L3.매출금액          0.000312         0.001095            0.285           0.776
L3.시장금리          0.022644         0.032501            0.697           0.486
L4.매출금액         -0.000527         0.001176           -0.448           0.654
L4.시장금리          0.099338         0.032511            3.056           0.002
L5.매출금액         -0.000845         0.001240           -0.682           0.495
L5.시장금리          0.047358         0.032634            1.451           0.147
L6.매출금액         -0.000458         0.001278           -0.358           0.720
L6.시장금리         -0.012451         0.032663           -0.381           0.703
L7.매출금액         -0.001157         0.001292           -0.896           0.371
L7.시장금리         -0.008454         0.032662           -0.259           0.796
L8.매출금액         -0.000706         0.001282           -0.550           0.582
L8.시장금리         -0.017556         0.032621           -0.538           0.590
L9.매출금액         -0.000549         0.001247           -0.441           0.659
L9.시장금리         -0.004714         0.032607           -0.145           0.885
L10.매출금액         0.000481         0.001184            0.406           0.685
L10.시장금리         0.014071         0.032458            0.434           0.665
L11.매출금액         0.001017         0.001105            0.920           0.357
L11.시장금리        -0.006030         0.032448           -0.186           0.853
L12.매출금액         0.000135         0.000984            0.137           0.891
L12.시장금리         0.001069         0.032391            0.033           0.974
L13.매출금액         0.000039         0.000784            0.049           0.961
L13.시장금리         0.006236         0.031544            0.198           0.843
===========================================================================

Correlation matrix of residuals
            매출금액      시장금리
매출금액    1.000000  0.097058
시장금리    0.097058  1.000000

In [45]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터')
df_weather = pd.read_csv('기상자료개방포털_종관기상관측(ASOS)_16-01-01_21-06-30.csv')
df_weather

                        날짜    기온  강수량   풍속  습도  전운량  증하층운량  지면온도
0      2016-01-01 00:00:00  -1.0  0.0  0.1  80    0      0  -4.4
1      2016-01-01 01:00:00  -1.6  0.0  0.6  80    0      0  -4.8
2      2016-01-01 02:00:00  -1.9  0.0  0.3  84    0      0  -5.4
3      2016-01-01 03:00:00  -2.5  0.0  0.1  86    0      0  -5.6
4      2016-01-01 04:00:00  -3.0  0.0  0.5  90    0      0  -5.9
...                    ...   ...  ...  ...  ..  ...    ...   ...
48187  2021-06-30 19:00:00  25.8  0.0  4.0  62    7      6  28.3
48188  2021-06-30 20:00:00  24.6  0.0  3.1  64    4      3  26.3
48189  2021-06-30 21:00:00  23.8  0.0  2.8  66    3      3  25.1
48190  2021-06-30 22:00:00  23.0  0.0  1.9  71    4      0  24.2
48191  2021-06-30 23:00:00  22.2  0.0  2.2  73    5      1  23.5

[48192 rows x 8 columns]