In [2]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

In [59]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축')
df_sales = pd.read_excel('sangin_monthly_sales.xlsx')
df_sales = df_sales.transpose()
df_sales.columns = df_sales.iloc[0]
df_sales = df_sales.iloc[1:]
df_sales.index = df_sales['날짜']
del df_sales['날짜']
in_list = [str(i)[:10] for i in df_sales.index]
df_sales.index = in_list
df_sales['무보까국밥(상인점)'] = [int(g) for g in df_sales['무보까국밥(상인점)']]
df_sales

Unnamed: 0  무보까국밥(상인점)
2018-01-01    61898000
2018-02-01    49484000
2018-03-01    52142000
2018-04-01    49005500
2018-05-01    48055500
2018-06-01    45686000
2018-07-01    47015000
2018-08-01    56392000
2018-09-01    52158500
2018-10-01    49573500
2018-11-01    53709000
2018-12-01    61566000
2019-01-01    57038500
2019-02-01    54490500
2019-03-01    49664000
2019-04-01    43742000
2019-05-01    49220000
2019-06-01    47204500
2019-07-01    12643500
2019-08-01    47223500
2019-09-01    57420500
2019-10-01    59286000
2019-11-01    61008500
2019-12-01    69387000
2020-01-01    67066500
2020-02-01    44161000
2020-03-01    35907000
2020-04-01    43411000
2020-05-01    47947500
2020-06-01    42362500
2020-07-01    46436000
2020-08-01    50191500
2020-09-01    50576500
2020-10-01    60584500
2020-11-01    51665500
2020-12-01    42923500

In [46]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_CPI = pd.read_csv('소비자물가지수_20111~202103_월단위.csv', encoding = 'cp949')
df_CPI = df_CPI.transpose()
df_CPI.columns = df_CPI.iloc[0]
df_CPI = df_CPI.iloc[1:]
df_CPI.index = df_CPI['날짜']
del df_CPI['날짜']
df_CPI['소비자물가지수'] = [int(a.strip()) for a in df_CPI['소비자물가지수']]
df_CPI

0           소비자물가지수
날짜
2011-01-01       93
2011-02-01       94
2011-03-01       94
2011-04-01       94
2011-05-01       94
...             ...
2020-11-01      106
2020-12-01      106
2021-01-01      106
2021-02-01      107
2021-03-01      107

[123 rows x 1 columns]

In [47]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_PI = pd.read_csv('숙박_음식점_생산지수_2011~202102_월단위.csv')
df_PI = df_PI.transpose()
df_PI = df_PI.iloc[1:]
df_PI.index = df_PI[0]
del df_PI[0]
df_PI.columns = ['숙박_음식점_생산지수']
df_PI['숙박_음식점_생산지수'] = [int(b) for b in df_PI['숙박_음식점_생산지수']]
df_PI

            숙박_음식점_생산지수
0
2011-01-01          102
2011-02-01           93
2011-03-01           98
2011-04-01          101
2011-05-01          109
...                 ...
2020-10-01           83
2020-11-01           81
2020-12-01           66
2021-01-01           60
2021-02-01           65

[122 rows x 1 columns]

In [35]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
EPU = pd.read_excel('Korea_Policy_Uncertainty_Data_월단위.xlsx')
EPU.index = EPU['Date']
del EPU['Date']
EPU_in_list = [str(EPU_in)[:10] for EPU_in in EPU.index]
EPU.index = EPU_in_list
EPU

            New South Korean EPU Index
1/1990                      129.638657
2/1990                       73.562210
3/1990                      102.012573
4/1990                      118.501373
5/1990                       45.044033
...                                ...
2020-09-01                  136.296806
2020-10-01                  189.379096
2020-11-01                  287.691066
2020-12-01                  182.512180
1/2021                      212.168949

[373 rows x 1 columns]

In [48]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_PPI = pd.read_csv('생산자물가지수_2011~202103_월단위.csv', encoding = 'cp949')
df_PPI = df_PPI.transpose()
df_PPI.columns = df_PPI.iloc[0]
df_PPI = df_PPI.iloc[1:]
df_PPI.index = df_PPI['연월']
del df_PPI['연월']
df_PPI['생산자물가지수'] = [int(c) for c in df_PPI['생산자물가지수']]
df_PPI

Unnamed: 0  생산자물가지수
연월
2011-01-01      103
2011-02-01      104
2011-03-01      105
2011-04-01      106
2011-05-01      106
...             ...
2020-11-01      103
2020-12-01      104
2021-01-01      105
2021-02-01      106
2021-03-01      107

[123 rows x 1 columns]

In [50]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_CSI = pd.read_csv('소비자동향지수_2011_202104_월단위.csv', encoding = 'cp949')
df_CSI = df_CSI.transpose()
df_CSI.columns = df_CSI.iloc[0]
df_CSI = df_CSI.iloc[1:]
df_CSI.index = df_CSI['날짜']
del df_CSI['날짜']
df_CSI['소비자동향지수'] = [int(d) for d in df_CSI['소비자동향지수']]
df_CSI

            소비자동향지수
날짜
2011-01-01      106
2011-02-01      104
2011-03-01      100
2011-04-01       99
2011-05-01       99
...             ...
2020-12-01       93
2021-01-01       96
2021-02-01       96
2021-03-01       96
2021-04-01       97

[124 rows x 1 columns]

In [51]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_ESI = pd.read_csv('경제심리지수_2011~202104_월단위.csv', encoding = 'cp949')
df_ESI = df_ESI.transpose()
df_ESI.columns = df_ESI.iloc[0]
df_ESI = df_ESI.iloc[1:]
df_ESI.index = df_ESI['연월']
del df_ESI['연월']
df_ESI['경제심리지수'] = [int(e) for e in df_ESI['경제심리지수']]
df_ESI

            경제심리지수
연월
2011-01-01     111
2011-02-01     112
2011-03-01     109
2011-04-01     113
2011-05-01     111
...            ...
2020-12-01      86
2021-01-01      93
2021-02-01      97
2021-03-01     101
2021-04-01     105

[124 rows x 1 columns]

In [39]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_kospi = pd.read_csv('KOSPI_2011~202104_월단위.csv', encoding = 'cp949')
df_kospi.index = df_kospi['연월']
del df_kospi['연월']
df_kospi

              종가
연월
2011-01-01  2070
2011-02-01  1939
2011-03-01  2107
2011-04-01  2192
2011-05-01  2142
...          ...
2020-12-01  2873
2021-01-01  2976
2021-02-01  3013
2021-03-01  3061
2021-04-01  3148

[124 rows x 1 columns]

In [40]:
df_CPI['소비자물가지수'][0].strip()

'93'

In [42]:
df_sales

Unnamed: 0 무보까국밥(상인점)
2018-01-01   61898000
2018-02-01   49484000
2018-03-01   52142000
2018-04-01   49005500
2018-05-01   48055500
2018-06-01   45686000
2018-07-01   47015000
2018-08-01   56392000
2018-09-01   52158500
2018-10-01   49573500
2018-11-01   53709000
2018-12-01   61566000
2019-01-01   57038500
2019-02-01   54490500
2019-03-01   49664000
2019-04-01   43742000
2019-05-01   49220000
2019-06-01   47204500
2019-07-01   12643500
2019-08-01   47223500
2019-09-01   57420500
2019-10-01   59286000
2019-11-01   61008500
2019-12-01   69387000
2020-01-01   67066500
2020-02-01   44161000
2020-03-01   35907000
2020-04-01   43411000
2020-05-01   47947500
2020-06-01   42362500
2020-07-01   46436000
2020-08-01   50191500
2020-09-01   50576500
2020-10-01   60584500
2020-11-01   51665500
2020-12-01   42923500

In [60]:
df_sales['CPI'] = df_CPI['소비자물가지수']
df_sales['PI'] = df_PI['숙박_음식점_생산지수']
df_sales['EPU'] = EPU['New South Korean EPU Index']
df_sales['PPI'] = df_PPI['생산자물가지수']
df_sales['CSI'] = df_CSI['소비자동향지수']
df_sales['ESI'] = df_ESI['경제심리지수']
df_sales['kospi'] = df_kospi['종가']

df_sales.to_csv('상인점_월매출_경제변수7.csv', encoding  = 'cp949')

df_sales

Unnamed: 0  무보까국밥(상인점)  CPI   PI         EPU  PPI  CSI  ESI  kospi
2018-01-01    61898000  103   96   95.630259  103  105  100   2566
2018-02-01    49484000  104   89   71.157354  103  103  101   2427
2018-03-01    52142000  104   98  129.418991  103  103   98   2446
2018-04-01    49005500  104   97  103.855925  103  102  100   2515
2018-05-01    48055500  104  101  134.964252  103  101  102   2423
2018-06-01    45686000  104   98  126.329389  103  101  100   2326
2018-07-01    47015000  104  102  155.153873  104   99   96   2295
2018-08-01    56392000  105  102  149.484414  104   98   97   2323
2018-09-01    52158500  106   96  153.960057  105  101   99   2343
2018-10-01    49573500  105   98  176.211079  104   99   95   2030
2018-11-01    53709000  105   97  203.245371  104   97   95   2097
2018-12-01    61566000  104  109  243.033558  103   99   95   2041
2019-01-01    57038500  104   97  249.436502  103   98   92   2205
2019-02-01    54490500  105   87  146.823761  103   98   97   2195
2019-03-01    49664000  104   95  172.994763  103   98   97   2141
2019-04-01    43742000  105   96  138.911178  104   99   98   2204
2019-05-01    49220000  105  101  230.145752  104   97   94   2042
2019-06-01    47204500  105   96  248.528870  104   97   95   2131
2019-07-01    12643500  105   99  316.855461  104   96   92   2025
2019-08-01    47223500  105  102  538.176765  104   94   92   1968
2019-09-01    57420500  105   91  275.198547  104   97   94   2063
2019-10-01    59286000  105   98  274.024402  104   97   94   2083
2019-11-01    61008500  105   97  239.355950  103   99   94   2088
2019-12-01    69387000  105  110  257.886125  104   98   95   2198
2020-01-01    67066500  106   95  255.230495  104  101   98   2119
2020-02-01    44161000  106   74  159.151652  104   97   90   1987
2020-03-01    35907000  106   64  224.871561  103   87   70   1755
2020-04-01    43411000  105   72  211.494615  102   83   63   1948
2020-05-01    47947500  105   87  252.086815  102   87   65   2030
2020-06-01    42362500  105   85  245.735738  102   88   70   2108
2020-07-01    46436000  105   90  160.697535  103   90   78   2249
2020-08-01    50191500  106   85  162.820711  103   92   84   2326
2020-09-01    50576500  106   72  136.296806  103   88   78   2328
2020-10-01    60584500  106   83  189.379096  103   94   89   2267
2020-11-01    51665500  106   81  287.691066  103   96   92   2591
2020-12-01    42923500  106   66  182.512180  104   93   86   2873

In [28]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_sales = pd.read_csv('상인점_월매출_경제변수7.csv', encoding = 'cp949')
df_sales.index = df_sales['Unnamed: 0']
del df_sales['Unnamed: 0']
df_sales

            무보까국밥(상인점)  CPI   PI         EPU  PPI  CSI  ESI  kospi
Unnamed: 0
2018-01-01    61898000  103   96   95.630259  103  105  100   2566
2018-02-01    49484000  104   89   71.157354  103  103  101   2427
2018-03-01    52142000  104   98  129.418991  103  103   98   2446
2018-04-01    49005500  104   97  103.855925  103  102  100   2515
2018-05-01    48055500  104  101  134.964252  103  101  102   2423
2018-06-01    45686000  104   98  126.329389  103  101  100   2326
2018-07-01    47015000  104  102  155.153873  104   99   96   2295
2018-08-01    56392000  105  102  149.484414  104   98   97   2323
2018-09-01    52158500  106   96  153.960057  105  101   99   2343
2018-10-01    49573500  105   98  176.211079  104   99   95   2030
2018-11-01    53709000  105   97  203.245371  104   97   95   2097
2018-12-01    61566000  104  109  243.033558  103   99   95   2041
2019-01-01    57038500  104   97  249.436502  103   98   92   2205
2019-02-01    54490500  105   87  146.823761  103   98   97   2195
2019-03-01    49664000  104   95  172.994763  103   98   97   2141
2019-04-01    43742000  105   96  138.911178  104   99   98   2204
2019-05-01    49220000  105  101  230.145752  104   97   94   2042
2019-06-01    47204500  105   96  248.528870  104   97   95   2131
2019-07-01    12643500  105   99  316.855461  104   96   92   2025
2019-08-01    47223500  105  102  538.176765  104   94   92   1968
2019-09-01    57420500  105   91  275.198547  104   97   94   2063
2019-10-01    59286000  105   98  274.024402  104   97   94   2083
2019-11-01    61008500  105   97  239.355950  103   99   94   2088
2019-12-01    69387000  105  110  257.886125  104   98   95   2198
2020-01-01    67066500  106   95  255.230495  104  101   98   2119
2020-02-01    44161000  106   74  159.151652  104   97   90   1987
2020-03-01    35907000  106   64  224.871561  103   87   70   1755
2020-04-01    43411000  105   72  211.494615  102   83   63   1948
2020-05-01    47947500  105   87  252.086815  102   87   65   2030
2020-06-01    42362500  105   85  245.735738  102   88   70   2108
2020-07-01    46436000  105   90  160.697535  103   90   78   2249
2020-08-01    50191500  106   85  162.820711  103   92   84   2326
2020-09-01    50576500  106   72  136.296806  103   88   78   2328
2020-10-01    60584500  106   83  189.379096  103   94   89   2267
2020-11-01    51665500  106   81  287.691066  103   96   92   2591
2020-12-01    42923500  106   66  182.512180  104   93   86   2873

In [29]:
df_sales_log_diff = np.log(df_sales).diff().dropna()
df_sales_log_diff

,무보까국밥(상인점),CPI,PI,EPU,PPI,CSI,ESI,kospi
Unnamed: 0,,,,,,,,
2018-02-01,-0.223838,0.009662,-0.075712,-0.295596,0.000000,-0.019231,0.009950,-0.055692
2018-03-01,0.052321,0.000000,0.096331,0.598161,0.000000,0.000000,-0.030153,0.007798
2018-04-01,-0.062038,0.000000,-0.010257,-0.220051,0.000000,-0.009756,0.020203,0.027819
2018-05-01,-0.019576,0.000000,0.040410,0.262005,0.000000,-0.009852,0.019803,-0.037266
2018-06-01,-0.050565,0.000000,-0.030153,-0.066117,0.000000,0.000000,-0.019803,-0.040856
2018-07-01,0.028675,0.000000,0.040005,0.205525,0.009662,-0.020001,-0.040822,-0.013417
2018-08-01,0.181861,0.009569,0.000000,-0.037225,0.000000,-0.010152,0.010363,0.012127
2018-09-01,-0.078040,0.009479,-0.060625,0.029501,0.009569,0.030153,0.020409,0.008573
2018-10-01,-0.050831,-0.009479,0.020619,0.134989,-0.009569,-0.020001,-0.041243,-0.143396
2018-11-01,0.080124,0.000000,-0.010257,0.142731,0.000000,-0.020409,0.000000,0.032472
2018-12-01,0.136529,-0.009569,0.116637,0.178786,-0.009662,0.020409,0.000000,-0.027068
2019-01-01,-0.076383,0.000000,-0.116637,0.026005,0.000000,-0.010152,-0.032088,0.077288
2019-02-01,-0.045700,0.009569,-0.108803,-0.529971,0.000000,0.000000,0.052922,-0.004545
2019-03-01,-0.092746,-0.009569,0.087969,0.164028,0.000000,0.000000,0.000000,-0.024909
2019-04-01,-0.126972,0.009569,0.010471,-0.219427,0.009662,0.010152,0.010257,0.029001
2019-05-01,0.117991,0.000000,0.050772,0.504878,0.000000,-0.020409,-0.041673,-0.076344
2019-06-01,-0.041811,0.000000,-0.050772,0.076846,0.000000,0.000000,0.010582,0.042662
2019-07-01,-1.317346,0.000000,0.030772,0.242887,0.000000,-0.010363,-0.032088,-0.051022
2019-08-01,1.317748,0.000000,0.029853,0.529741,0.000000,-0.021053,0.000000,-0.028552
2019-09-01,0.195510,0.000000,-0.114113,-0.670694,0.000000,0.031416,0.021506,0.047143
2019-10-01,0.031972,0.000000,0.074108,-0.004276,0.000000,0.000000,0.000000,0.009648
2019-11-01,0.028640,0.000000,-0.010257,-0.135265,-0.009662,0.020409,0.000000,0.002398
2019-12-01,0.128686,0.000000,0.125769,0.074566,0.009662,-0.010152,0.010582,0.051341
2020-01-01,-0.034015,0.009479,-0.146603,-0.010351,0.000000,0.030153,0.031091,-0.036604
2020-02-01,-0.417843,0.000000,-0.249812,-0.472310,0.000000,-0.040410,-0.085158,-0.064318
2020-03-01,-0.206910,0.000000,-0.145182,0.345672,-0.009662,-0.108803,-0.251314,-0.124157
2020-04-01,0.189781,-0.009479,0.117783,-0.061330,-0.009756,-0.047068,-0.105361,0.104334
2020-05-01,0.099394,0.000000,0.189242,0.175574,0.000000,0.047068,0.031253,0.041233
2020-06-01,-0.123843,0.000000,-0.023257,-0.025517,0.000000,0.011429,0.074108,0.037704
2020-07-01,0.091811,0.000000,0.057158,-0.424733,0.009756,0.022473,0.108214,0.064746
2020-08-01,0.077771,0.009479,-0.057158,0.013126,0.000000,0.021979,0.074108,0.033664
2020-09-01,0.007641,0.000000,-0.165985,-0.177815,0.000000,-0.044452,-0.074108,0.000859
2020-10-01,0.180552,0.000000,0.142174,0.328916,0.000000,0.065958,0.131928,-0.026552
2020-11-01,-0.159249,0.000000,-0.024391,0.418136,0.000000,0.021053,0.033152,0.133587
2020-12-01,-0.185371,0.000000,-0.204794,-0.455070,0.009662,-0.031749,-0.067441,0.103313

In [42]:
var = pd.DataFrame()
var['sales'] = df_sales_log_diff['무보까국밥(상인점)']
var['CPI'] = df_sales_log_diff['CPI']
var

               sales       CPI
Unnamed: 0
2018-02-01 -0.223838  0.009662
2018-03-01  0.052321  0.000000
2018-04-01 -0.062038  0.000000
2018-05-01 -0.019576  0.000000
2018-06-01 -0.050565  0.000000
2018-07-01  0.028675  0.000000
2018-08-01  0.181861  0.009569
2018-09-01 -0.078040  0.009479
2018-10-01 -0.050831 -0.009479
2018-11-01  0.080124  0.000000
2018-12-01  0.136529 -0.009569
2019-01-01 -0.076383  0.000000
2019-02-01 -0.045700  0.009569
2019-03-01 -0.092746 -0.009569
2019-04-01 -0.126972  0.009569
2019-05-01  0.117991  0.000000
2019-06-01 -0.041811  0.000000
2019-07-01 -1.317346  0.000000
2019-08-01  1.317748  0.000000
2019-09-01  0.195510  0.000000
2019-10-01  0.031972  0.000000
2019-11-01  0.028640  0.000000
2019-12-01  0.128686  0.000000
2020-01-01 -0.034015  0.009479
2020-02-01 -0.417843  0.000000
2020-03-01 -0.206910  0.000000
2020-04-01  0.189781 -0.009479
2020-05-01  0.099394  0.000000
2020-06-01 -0.123843  0.000000
2020-07-01  0.091811  0.000000
2020-08-01  0.077771  0.009479
2020-09-01  0.007641  0.000000
2020-10-01  0.180552  0.000000
2020-11-01 -0.159249  0.000000
2020-12-01 -0.185371  0.000000

In [43]:
model = VAR(var)
results_all = model.fit(maxlags = 10, ic = 'aic')
results_all.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sun, 08, Aug, 2021
Time:                     21:24:24
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -13.3941
Nobs:                     25.0000    HQIC:                  -14.8739
Log likelihood:           164.076    FPE:                9.03349e-07
AIC:                     -15.4419    Det(Omega_mle):     2.66821e-07
--------------------------------------------------------------------
Results for equation sales
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const            -0.061133         0.071641           -0.853           0.393
L1.sales         -0.151650         0.243762           -0.622           0.534
L1.CPI          -33.071215        20.571663           -1.608           0.108
L2.sales         -0.795409         0.198160           -4.014           0.000
L2.CPI           12.613126        22.936547            0.550           0.582
L3.sales         -0.421667         0.230539           -1.829           0.067
L3.CPI           36.507805        17.286782            2.112           0.035
L4.sales          0.066427         0.229262            0.290           0.772
L4.CPI           30.265416        14.560939            2.079           0.038
L5.sales         -0.780497         0.198315           -3.936           0.000
L5.CPI           -6.518732        26.656206           -0.245           0.807
L6.sales         -0.211986         0.232249           -0.913           0.361
L6.CPI           48.179351        22.520333            2.139           0.032
L7.sales         -0.676404         0.178348           -3.793           0.000
L7.CPI           24.904670        14.382603            1.732           0.083
L8.sales         -0.462710         0.194779           -2.376           0.018
L8.CPI            0.712325        16.870493            0.042           0.966
L9.sales         -0.212221         0.208215           -1.019           0.308
L9.CPI           52.831159        16.719324            3.160           0.002
L10.sales         0.212144         0.194077            1.093           0.274
L10.CPI         -34.479697        12.488353           -2.761           0.006
============================================================================

Results for equation CPI
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const             0.003875         0.001789            2.166           0.030
L1.sales          0.002527         0.006087            0.415           0.678
L1.CPI           -0.956952         0.513716           -1.863           0.062
L2.sales          0.003172         0.004948            0.641           0.521
L2.CPI           -0.941309         0.572772           -1.643           0.100
L3.sales          0.003226         0.005757            0.560           0.575
L3.CPI           -0.711227         0.431686           -1.648           0.099
L4.sales          0.007726         0.005725            1.349           0.177
L4.CPI           -1.201310         0.363616           -3.304           0.001
L5.sales          0.003383         0.004952            0.683           0.495
L5.CPI           -0.834792         0.665660           -1.254           0.210
L6.sales          0.003101         0.005800            0.535           0.593
L6.CPI           -0.872001         0.562379           -1.551           0.121
L7.sales         -0.002894         0.004454           -0.650           0.516
L7.CPI           -0.641051         0.359163           -1.785           0.074
L8.sales         -0.005313         0.004864           -1.092           0.275
L8.CPI           -0.815811         0.421291           -1.936           0.053
L9.sales         -0.000732         0.005200           -0.141           0.888
L9.CPI           -0.239214         0.417516           -0.573           0.567
L10.sales        -0.001201         0.004846           -0.248           0.804
L10.CPI          -0.555664         0.311860           -1.782           0.075
============================================================================

Correlation matrix of residuals
            sales       CPI
sales    1.000000  0.568393
CPI      0.568393  1.000000