In [1]:
import os
import pandas as pd
import numpy as np

In [6]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\지도_SHAPEFILE_대한민국\상권분석\결과')
df_yongsan = pd.read_csv('용산점_250m_SIG-5181_좌표 포함.csv')
df_yongsan

,Unnamed: 0,id,geometry,wsg_left,wsg_top,wsg_right,wsg_bottom
0,0,10560.0,"POLYGON ((336568.346018207 263418.514182261, 3...",128.511923,35.858669,128.514646,35.856381
1,1,11295.0,"POLYGON ((337568.346018207 263668.514182261, 3...",128.523033,35.860781,128.525757,35.858494
2,2,11294.0,"POLYGON ((337568.346018207 263918.514182261, 3...",128.523076,35.863034,128.525800,35.860746
3,3,10747.0,"POLYGON ((336818.346018207 262668.514182261, 3...",128.514561,35.851877,128.517284,35.849589
4,4,11115.0,"POLYGON ((337318.346018207 262668.514182261, 3...",128.520094,35.851807,128.522818,35.849519
...,...,...,...,...,...,...,...
61,61,12030.0,"POLYGON ((338568.346018207 263918.514182261, 3...",128.534144,35.862893,128.536867,35.860605
62,62,12398.0,"POLYGON ((339068.346018207 263918.514182261, 3...",128.539678,35.862822,128.542401,35.860534
63,63,10563.0,"POLYGON ((336568.346018207 262668.514182261, 3...",128.511794,35.851912,128.514518,35.849624
64,64,10562.0,"POLYGON ((336568.346018207 262918.514182261, 3...",128.511837,35.854164,128.514561,35.851877
65,65,10561.0,"POLYGON ((336568.346018207 263168.514182261, 3...",128.511880,35.856416,128.514604,35.854129

In [7]:
df_sinseo = pd.read_csv('신서점_250m_SIG-5181_좌표 포함.csv')
df_sinseo

,Unnamed: 0,fid,id,geometry,wsg_left,wsg_top,wsg_right,wsg_bottom
0,0,5300.0,22691.0,"POLYGON ((353068.346018207 266668.514182261, 3...",128.695147,35.885509,128.697866,35.883218
1,1,5302.0,22690.0,"POLYGON ((353068.346018207 266918.514182261, 3...",128.695195,35.887762,128.697914,35.885470
2,2,5303.0,22689.0,"POLYGON ((353068.346018207 267168.514182261, 3...",128.695243,35.890014,128.697962,35.887722
3,3,5306.0,22695.0,"POLYGON ((353068.346018207 265668.514182261, 3...",128.694955,35.876501,128.697674,35.874210
4,4,5308.0,22694.0,"POLYGON ((353068.346018207 265918.514182261, 3...",128.695003,35.878753,128.697722,35.876462
...,...,...,...,...,...,...,...,...
356,356,13474.0,26377.0,"POLYGON ((358068.346018207 265168.514182261, 3...",128.750199,35.871203,128.752916,35.868910
357,357,13476.0,26376.0,"POLYGON ((358068.346018207 265418.514182261, 3...",128.750248,35.873455,128.752966,35.871162
358,358,13480.0,26382.0,"POLYGON ((358068.346018207 263918.514182261, 3...",128.749951,35.859942,128.752668,35.857650
359,359,13482.0,26381.0,"POLYGON ((358068.346018207 264168.514182261, 3...",128.750001,35.862195,128.752718,35.859902
360,360,13484.0,26380.0,"POLYGON ((358068.346018207 264418.514182261, 3...",128.750050,35.864447,128.752767,35.862154

In [12]:
df_yongsan.iloc[0, 3]

128.5119225161011